<!-- Third Fixed NavBar -->
<section id="third">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <div class="navbar-brand">{{ name }}
        </div>
      </div>
      
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Overview</a></li>
            <li><a href="#projects">Activity</a></li>
          </ul>
          <div class="col-md-6 pull-right">
          <ul class="nav navbar-nav navbar-right">
            
                <li>
                  <button type="button" class="btn btn-action"><span><i class="material-icons">comment</i></span>Join the Community</button>
                </li>
                <!--<li>
                  <button type="button" class="btn btn-action navbar-btn"><i class="material-icons">mode_edit</i>Edit</button>
                </li>-->
            
          </ul>
        </div>
    </div>
  </nav>
</section>
{{yield}}
