<!-- Third Fixed NavBar -->
<section id="third">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">

        <div class="navbar-brand">FabLabBCN
        </div>
      </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Overview</a></li>
            <li><a href="#projects">Activity</a></li>
        </ul>
          <ul class="nav navbar-nav navbar-right">
            <div class="col-md-2">
                <li>
                  <button type="button" class="btn btn-action navbar-btn"><i class="material-icons">mode_edit</i>Edit</button>
                </li>
            </div>
        </ul>
    </div>
  </nav>
</section>
{{yield}}
