@import 'bower_components/bootstrap-sass/assets/stylesheets/_bootstrap-mincer.scss';
@import 'bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

/* COLORS */

$green:             rgb(2, 164, 110);
$dark:              rgb(26, 26, 26);
$grey:              rgb(153, 153, 153);
$green-dark:		rgb(9, 119, 82);

$dark-bg:           rgb(27, 31, 32);
$dark-bg-highlight: rgb(33, 37, 37);
$shadow-bg:         rgb(238, 238, 238);
$alt-bg:            rgb(245, 245, 245);
$white-bg:          rgb(255, 255, 255);

$light-grey:		rgb(217, 217, 217);


$positive-act:      rgb(88, 149, 273);
$warning-act:       rgb(254, 209, 70);
$negative-act:      rgb(223, 104, 64);

$orange:			#e8af05;


.green {
  color: $green !important;
}

.dark {
  color: $dark !important;
}

.grey {
  color: $grey !important;
}


/* FONTS */

@font-face {
    font-family: Apercu-Regular;
    src: url('/fonts/Apercu_Regular/Apercu_Regular.otf');
}
@font-face {
    font-family: Apercu-Mono;
    src: url('/fonts/Apercu_Mono/Apercu_Mono.otf');
}
@font-face {
    font-family: Apercu-Medium-Italic;
    src: url('/fonts/Apercu_Medium_Italic/Apercu_Medium_Italic.otf');
}
@font-face {
    font-family: Apercu-Medium;
    src: url('/fonts/Apercu_Medium/Apercu_Medium.otf');
}
@font-face {
    font-family: Apercu-Light-Italic;
    src: url('/fonts/Apercu_Light_Italic/Apercu_Light_Italic.otf');
}
@font-face {
    font-family: Apercu-Light;
    src: url('/fonts/Apercu_Light/Apercu_Light.otf');
}
@font-face {
    font-family: Apercu-Italic;
    src: url('/fonts/Apercu_Italic/Apercu_Italic.otf');
}
@font-face {
    font-family: Apercu-Bold-Italic;
    src: url('/fonts/Apercu_Bold_Italic/Apercu_Bold_Italic.otf');
}
@font-face {
    font-family: Apercu-Bold;
    src: url('/fonts/Apercu_Bold/Apercu_Bold.otf');
}

h1 {
  font-family: Apercu-Mono, Helvetica, sans-serif !important;
  font-weight: bold !important;
  font-size: 3rem !important;
}

h2 {
  font-family: Apercu-Mono, Helvetica, sans-serif !important;
  font-weight: normal !important;
  font-size: 2.5rem !important;
  padding-bottom: 1em !important;
}

h3 {
  font-family: Apercu-Mono, Helvetica, sans-serif !important;
  font-weight: normal !important;
  font-size: 1.8rem !important;
  text-transform: uppercase !important;
  color: $grey;
  padding-bottom: 1em;
  letter-spacing: 2px;
}

h4 {
  font-family: Apercu-Mono, Apercu-Regular, Helvetica, sans-serif !important;
  font-weight: normal !important;
  font-size: 1.8rem !important;
}

p {
  font-family: Apercu-Mono, Apercu-Regular, Helvetica, sans-serif !important;
  font-weight: normal !important;
  font-size: 14px !important;
}


/* MIXING */

@mixin border-radius($radius) {
-webkit-border-radius: $radius;
-moz-border-radius: $radius;
-ms-border-radius: $radius;
border-radius: $radius;
}
.navbar-default { @include border-radius(0px); }
.btn { @include border-radius(4px); }

i {@include border-radius(50%);}

.img-rounded { @include border-radius(50%); width:70px; height:70px; }

.activations {@include border-radius (4px)}


/* img */

img{
	width: 100%;
}

.img-thumbnail {
    padding: 0;
    line-height: 0;
    border: none;
    border-radius:0;
    width:100%;
}

/* STYLES */


body{
	font-family: Apercu-Regular;
}



.container {
	@media (min-width: 1200px){
	width: 100%;
	padding-left: 5%;
	padding-right: 5%;
	}
}



#first {

	.navbar-default {
		background-color: $dark-bg;
		margin: 0;
		font-size: 11px;
		text-transform: uppercase;
		border-color: transparent;
		letter-spacing: 3px;
	}
	nav {
		ul {
		margin: 0;
		padding: 0;
		list-style: none;
		}
		a {
		  font-weight: bold;
		  color: &white-bg;
		  text-decoration: none;
		  &:hover { text-decoration: none; color: white;}
		}
		.active{
			a {background-color: transparent; color: white}
		}
	}
}

#second {

	.img-rounded{
		width: 50px;
		height: 50px;
		padding: 0;
	}
	.btn{
		padding: 10px 14px 8px 15px;
		margin-top: 0;
	}

	.navbar-default {
		background-color: $green;
		margin: 0;
		font-size: 13px;
		border-color: transparent;
		letter-spacing: 1px;
		text-transform: uppercase;
		padding-top: 2em;
		padding-bottom: 0;
	}

	.navbar-brand{
		font-family: Apercu-Light;
		text-transform: none;
		padding: 0;
		display: inline;
		float: left;
		padding: 3px 40px 0px 0px;
		&:hover {text-decoration:none; text-transform: none; box-shadow: none;};
			img{
				display: inline;
				margin-right: 0.5em;
        width: 42px;
        height: 42px;
			}
	}
	.col-lg-4 {
		@media (min-width: 1200px){
		width: 28%;
					margin: 0px 20px 0px 0px;
		}
	}

	.navbar-nav{
		padding-bottom: 4px;
		padding-top: 0.6em;
	}
		.form-group {
		display: inline;
		float: left;
		z-index: 0;
		padding-top: 0.4em;

		.form-control {
			background-color: $green-dark;
			border-color: transparent;
			box-shadow: none;
			padding-left: 0;
			font-size: 14px;
			color: white;
		}
		.input-group-addon {
			background-color: $green-dark;
			border-color: transparent;
			color: white;
		}
	}

	nav {
		ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-bottom: 2em;
		}
		a {
		  font-weight: bold;
		  color: white;
		  text-decoration: none;
		  padding-left: 14px;
		  padding-right: 13px;
		  padding-bottom: 38px;
		  &:hover { text-decoration: none; box-shadow: 0px 5px 0px $dark; color: $dark;}
		}
		.active{
			a {background-color: $green; box-shadow: 0px 5px 0px $alt-bg; color: white}
		}
	}
}

#third {
	.navbar-default{
		background-color: $alt-bg;
		color: $grey;
		text-transform: uppercase;
		padding-top: 1em;
		padding-bottom: 0.3em;
		letter-spacing: 2px;
		font-size: 14px;
		border-color: transparent;

	}
	.navbar-brand {
		font-size: 14px;
	}
	a{
		font-weight: bold;
		color: $dark;
		text-decoration: none;
		&:hover {box-shadow: 0px 5px 0px $dark;}
	}
	.active {
		a {background-color: transparent; box-shadow: 0px 5px 0px $green;}
	}
}


main {
	padding-bottom: 0em;
	.profile {
		float: left;
		display: inline-block;
    	vertical-align: middle;
		padding-right: 1em;
	}
	.icon-group {
		vertical-align: middle;
	}
	.head {
		padding-top: 0em;
		padding-bottom: 1em;

			h1 {
				margin-top: 0;
				font-size: 1.8em !important;
			}

			h6{
				color: $light-grey;
				text-transform: uppercase;
				padding-top: 2em;
				text-align: right;
				padding-right: 10px;

							}

			.row{
				padding-top: 3em;
			}


			.btn-default {
				border-color: $green;
				background-color: transparent;
				color: $green;
				&:hover {background-color: $dark; border-color: $dark; color: white;};
			}
			.btn-action {
				border-color: $green;
				background-color: $green;
				color: white;
				&:hover {background-color: $dark; border-color: $dark; color: white;};
			}
			ul{
				margin-bottom: 0em;
			}

			li{
				margin-bottom: 0em;
				text-align: left;
				margin:0;
				padding:0;
			}
	}
		.description {
			p{
				font-size: 1.7rem !important;
				line-height: 28px;
			}

			li{
				text-align:left;
			}
		}
		.disabled {
			p{
				padding-top: 0em;
			}
			li {
				text-align:left;
			}
		}




	.info{
		margin-top: 0em;
		.col-md-5 {
			padding-top: 0em;
		}

		li {

			.special{
				padding: 2% 0%;
				width:122px;
				text-align: center;
				background-color: transparent;
				color: $green;
				border: none;
				padding-top:2em;
				&:hover {background-color: $green; color: white};
					&:hover {color: white; text-decoration: none;};
					p{
					text-transform: uppercase;
					}

			}
		}
	}

	.material-icons {
		lineheight: 0;
	}

	.btn{
		span{
			line-height:0;
		}
	}
}

.activity{
	background-color: $alt-bg;
	height: auto;
	padding: 2em;

	hr{
		padding-top: 0em;
		padding-bottom: 0em;
		margin-top: 1.3em;
		margin-bottom: 1.3em;
	}
	h3{
		padding-top: 0;
		line-height: 0;
		padding-bottom: 1em;
		font-size: 1em !important;
	}

	p {
		margin: 0;
	}
	.disabled {
		text-transform: uppercase;
		font-size: 12px !important;
		letter-spacing: 1px;
	}
}


.share {
	display:block;
}

.counters {
	display: block;
	margin-top:4em !important;


		li {

			.special{
				padding: 2% 0%;
				width:122px;
				text-align: center;
				background-color: $alt-bg;
				color: $green;
				border: none;
				padding-top:2em;

				&:hover {background-color: $green; color: white};
					&:hover {color: white; text-decoration: none;};
					p{
					text-transform: uppercase;
					}

			}
		}
}

.status{
			padding-top: 2em;
				ul{
					margin: 0;
				}

			p{
				color: $grey;
				padding-top: 0.5em;
				em{
					font-style: normal;
					color: $dark-bg;
					padding-left: 5px;
					padding-right: 3em;
				}
			}
			span{
			display: inline-block;
						font-size: 16px;
						text-decoration: none;
						font-style: normal;
						letter-spacing: 1;
						vertical-align: middle;
						line-height: 0em;
						padding-bottom: 7px;
						padding-right: 8px;

				.material-icons {
					font-size: 20px;
					i{
						padding-top: 5px;
					}

				}
			}
			img {
				width:18px;
				height: 18px;
				margin-right: 5px;
			}

		}


/* STEPS */

#steps{
	padding-top: 2em;
}


.detail{
	background-color: $alt-bg;
	.col-md-7{
		padding-top: 3em;
	}
	.container{
		padding-right: 0;
	}
	.col-sm-4 {
		padding-left: 0;
		padding-top: 2em;
		h3 {
			color: $dark;
		}
	}
	ul{
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	p {
		line-height: 14px;
	}
	a {
		&:hover {color: $green;};

		p{
			margin-top: 3em;
			margin-bottom: 3em;
		}

		i{
			&:hover {color: $dark;}
		}
	}

	.col-md-5 {
		background-color: red;
		padding: 0;
	}

	.location {
	background-color: $grey;
	float: left;
	width: 100%;
	height: 500px;
	z-index: 3;

	}
}


.gallery{
	background-color: $alt-bg;
	margin-bottom: 0;
	height: 100%;
  text-align:center;
  padding: 0 auto;
	.col-lg-3 {
		margin: 0;
		padding:0;
	}
		.material-icons {
		font-size: 13px;
		margin-right: 10px;
	}
}

/* centered columns styles */
.row-centered {
    text-align:center;
    padding: 0 auto;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    padding: 0 auto !important;
    margin: -5px !important;
}



	.hovereffect {
  	width:100%;
  	float:left;
  	overflow:hidden;
  	position:relative;
  	text-align:center;
  	cursor:default;
	}

  .img-box {
    height: 100%;
    max-height: 225px;
    min-height: 225px;
    display: -webkit-flex; /* Safari */
    display: flex;
    overflow: hidden;
    img {
      object-fit: cover;
    }
  }

	.hovereffect .overlay {
	width:100%;
	height:100%;
	position:absolute;
	overflow:hidden;
	top:0;
	left:0;
	opacity:0;
	background-color:rgba(0,0,0,0.5);
	-webkit-transition:all .4s ease-in-out;
	transition:all .4s ease-in-out
	}

	.hovereffect img {
	display:block;
	position:relative;
	-webkit-transition:all .4s linear;
	transition:all .4s linear;
	}

	.hovereffect h2 {
	text-transform:uppercase;
	color:#fff;
	text-align:center;
	position:relative;
	font-size:17px;
	background:rgba(0,0,0,0.6);
	-webkit-transform:translatey(-100px);
	-ms-transform:translatey(-100px);
	transform:translatey(-100px);
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
	padding:10px;
	}

	.hovereffect i{
		padding-top: 10px;
	}

	.hovereffect a.info {
	text-decoration:none;
	display:inline-block;
	text-transform:uppercase;
	color:#fff;
	border:1px solid #fff;
	background-color:transparent;
	opacity:0;
	filter:alpha(opacity=0);
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
	margin:120px 0 0;
	padding:7px 20px 14px 28px;
	&:hover {	box-shadow:0 0 5px #fff; };
	}

	.hovereffect a.info:hover {
	box-shadow:0 0 5px #fff;
	}

	.hovereffect:hover img {
	-ms-transform:scale(1.2);
	-webkit-transform:scale(1.2);
	transform:scale(1.2);
	}

	.hovereffect:hover .overlay {
	opacity:1;
	filter:alpha(opacity=100);
	}

	.hovereffect:hover h2,.hovereffect:hover a.info {
	opacity:1;
	filter:alpha(opacity=100);
	-ms-transform:translatey(0);
	-webkit-transform:translatey(0);
	transform:translatey(0);
	}

	.hovereffect:hover a.info {
	-webkit-transition-delay:.2s;
	transition-delay:.2s;
	}



/* PROJECTS SECTION */

#projects{

	padding-top: 4em;
	padding-bottom: 0em;

	h3 {
		margin: 0;
	}


	.project{
		background-color: $alt-bg;
		margin: 0%;
		border: 20px solid white;
		&:hover {color: $green,};
		.picture{
			display: inline-block;
      width: 100%;
		}
	}
	.col-md-3{
		padding: 0;
		margin-bottom: 2em;

		a {
		&:hover {text-decoration:none;}
		}
	}
	.content{
		padding: 20px 20px 20px 20px;
		height: 240px;
		text-align: left;

		h4{
		margin:0px;
		line-height:23px;
		}
	}
	ul{
		position: absolute;
	    bottom: 0px;
	    margin-bottom: 0;

	    li{
	    	width: 80px;
	    	padding-left: 6%;
	    }

	    a {
	    &:hover {color: $green-dark; text-decoration: none}
		}
		span{
			display: inline-block;
						font-size: 16px;
						text-decoration: none;
						font-style: normal;
						letter-spacing: 1;
						vertical-align: middle;
						line-height: 0em;
						padding-bottom: 7px;
						padding-right: 8px;

			.material-icons {
				font-size: 20px;
				i{
					padding-top: 5px;
				}

			}
		}
	}
  .project-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-height: 1em;        /* fallback */
    max-height: 1.3em*1;       /* fallback */
  }

  .project-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-height: 1em;        /* fallback */
    max-height: 1.03em*3;       /* fallback */
  }

	.hovereffect {
		.overlay {
			height:25%;
			bottom:0;
			top: inherit;
		}
		i {
    		padding-top: 5px;
    	}
    	h4{
		color: $dark;
		}
		p{
			color: $dark;
		}
		.disabled{
			color: $grey;
		}
		&:hover {
			h4, p {color: $green};
			.disabled {color:$grey};
		}

	}
	span.text-content {
	  background: transparent;
	  color: white;
	  cursor: pointer;
	  display: table;
	  height: 0px;
	  left: 0;
	  position: absolute;
	  top: inherit;
	  padding-top: 15px;
	  padding-left: 20px;
	  &:hover {text-decoration:underline};
	  ul{
	  	bottom:inherit;
	  	position: relative;
	  	&:hover {text-decoration:none};
	  }
	}

	span.text-content span {
	  display: table-cell;
	  text-align: center;
	  vertical-align: middle;
	  padding-left: 10px;
	}
	.img-rounded {
		height: 30px;
		width: 30px;
	}
}

.spaced-bottom {
  padding-bottom: 15px;
}
.spaced-top {
  padding-top: 15px;
}

/* USERS */

#users {
	padding-top: 4em;
	padding-bottom: 0em;
		h3, h5 {
			margin: 0px;
	}
	.row {
		padding-bottom: 2em;
	}

	.col-sm-4 {
		padding-top: 2em;
		padding-bottom: 2em;
	}
	button {
		float: left;

		.profile{
			display: block;
			float: left;
			padding-right: 2em;
			.worker {
				border: 2px solid $green;
			}
			.student {
				border: 2px solid $orange;
			}

		}
		.content {
			float: left;
			display: inline-block;
			h5 {
				padding-top: 5px;
				line-height: 20px;
				color: $dark;
			}
		}
		&:hover {
			h5, a {
				color: $green;
			}

			};

	}
}


/* MACHINES */

#machines {
	.img-thumbnail {
		padding-top: 2em;
		padding-bottom: 2em;
		width:100px;
		display: block;
	}

  .thumb-box {
    height: 100%;
    max-height: 150px;
    min-height: 150px;
    display: -webkit-flex; /* Safari */
    display: flex;
    display: -webkit-flex; /* Safari */
    display: flex;
    overflow: hidden;
    img {
      object-fit: cover;
    }
  }

	.row{
		padding-top:2em;
	}
	button {
		&:hover {
			a, p{
				color:$green; text-decoration: underline;
			};
		}
	}
	p {
		margin: 0;
	}
}


/* LABS */

#labs {
	margin-top:0;
	padding-top: 4em;
	padding-bottom: 6em;

	a {
		float: left;

		.profile{
			display: block;
			float: left;
			padding-right: 2em;

		}
		.content {
			float: left;
			display: inline-block;
			h5 {
				padding-top: 5px;
				line-height: 20px;
				color: $dark;
				margin-bottom:0.8em;
			}
			p{
				color: $green;
				padding: 0;
				margin: 0;
			}



			li{
				padding-right: 0%;
				a {
					text-decoration: none;
					color: $grey;
						span {padding: 5px;}
				&:hover {text-decoration:none; color:$green;}
				}
			}

		}
		&:hover {
			h5, p{
				color: $green;
			}


		}
		.material-icons {
			font-size:14px;
		}

	}
}

.lab-panel {
  text-align: center;
  width: 100%;
  height: 200px;
  padding: 10px;
  .profile {
    width: 15%;
    display: inline-block;
    float: left;
  }
  .lab-box {
    width: 85%;
    display: inline-block;
    float: left;
    .info {
      padding: 10px;
      display: inline-block;
      float: left;
      width: 30%;
    }
    .contacts {
      padding: 10px;
      display: inline-block;
      float: left;
      width: 70%
    }
  }
}

/* NEARBY */

#nearby {
	background-color: $alt-bg;
	margin-top: 6em;
	padding-top: 4em;
	padding-bottom: 6em;

	button {
		float: left;

		.profile{
			display: block;
			float: left;
			padding-right: 2em;
			.worker {
				border: 2px solid $green;
			}
			.student {
				border: 2px solid $orange;
			}

		}
		.content {
			float: left;
			display: inline-block;
			h5 {
				padding-top: 5px;
				line-height: 20px;
				color: $dark;
			}
			p{
				color: $green;
				padding: 0;
				margin: 0;
			}
			h5 {
				margin: 0;
			}

			a{
				text-decoration: none;
				color: $grey;
					span {padding: 5px;}
				&:hover {color:$green;};
			}
			li{
				padding-right: 5%;
			}
		}
		&:hover {
			h5, p{
				color: $green;
			}


		}
		.material-icons {
			font-size:14px;
		}

	}
}

/* NEWSLETTER */

#newsletter {
	background-color: $dark-bg;
	padding-top: 6em;
	padding-bottom: 6em;

	h2 {
		color: white;
		padding-bottom: 1em;
	}
	 p {
	 	color: $light-grey;
	 }

	 form{
	 	padding-top: 3em;
	 	padding-left: 5%;
	 	.form-group{
	 		width:300px;
	 		.input-group {
	 			width:100%;

	 			.input-group-addon {
				    padding: 6px 4px;
				    padding-right: 0;
				    font-size: 8px;
				    font-weight: 400;
				    line-height: 1;
				    color: $grey;
				    text-align: center;
				    background-color: white;
				    border: 1px solid transparent;
				    border-radius: 4px;
				    border-top-right-radius: 0;
				    border-bottom-right-radius: 0;
				}
				.form-control {
				    width: 103%;
				    height: 40px;
				    padding: 6px 6px;
				    background-color: #fff;
				    border: 1px solid transparent;
				    border-radius: 0px;
				    margin: 0;
				     border-top-right-radius: 4px;
				    border-bottom-right-radius: 4px;
				    /* box-shadow: inset 0 1px 1px rgba(0,0,0,.075); */
				    /* transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; */
				}
	 			.form-control {
	 				height:40px;

	 			}
	 			.material-icons {
	 				line-height: 0;
	 			}

	 		}

	 	}
	 	.btn-primary {
	 			background-color: $green;
	 			color: white;
	 			border-color: $green;
				margin-top: 0;
				height: 40px;
				padding-left: 20px;
				padding-right: 20px;

	 		}
	 }
}


footer{
	background-color: $dark;
	padding-top: 6em;
	padding-bottom: 3em;

	p {
		text-align: left;
		color: $grey;
	}

	hr{
		border-top: 1px solid $dark-bg;
	}

	li{
		padding: 1em;
		margin:1em;
		h5{
			text-transform: uppercase;
			a{
				color: white;
				&:hover {text-decoration:none;};
			}
		}

		h4{
			font-size: 12px !important;
			text-transform: uppercase;
			a {color: $grey;
				&:hover {text-decoration:none;};
			}
		}
	}
}


/* Line*/

hr{
	margin-top: 3em;
	margin-bottom: 3em;
}

/* BUTTONS */

button{
	padding: 0;
	margin:0;
	color: transparent;
	border-radius: 0;
	border: none;
	background-color: transparent;
	text-align: left;
}

a {
	color: $green;
	&:hover {color:$green;};
}

.navbar-btn {
	margin-bottom: 0;
}


.btn {
	text-transform: uppercase;
	padding-top: 4px;
	padding-top: 6px;
    padding-bottom: 3px;
	padding-right: 1em;
	&:active {box-shadow:none;}
	&:focus {box-shadow:none; border:transparent;}
	span {
					display: inline-block;
					font-size: 16px;
					text-decoration: none;
					font-style: normal;
					letter-spacing: 1;
					vertical-align: middle;
					padding-bottom: 0px;
					padding-right: 8px;
				}
}

.btn-default {
	background-color: transparent;
	border: 2px solid white;
	color: white;
	&:hover { background-color: $dark; color: white; border-color: $dark};
}

.btn-primary {
	background-color: white;
	border: 2px solid white;
	color: $green;
	&:hover { background-color: $dark; color: white; border-color: $dark};
}

.btn-action {
	background-color: transparent;
	border: 2px solid $green;
	color: $green;
	margin-top:0;
	padding-bottom:0px;
	&:hover { background-color: $green; color: white; border-color: $green};

}

.btn-tag{

	background-color: $alt-bg;
	padding: 0.5em;
	color: $green;
	text-transform: lowercase;
	margin-right: 0.5em;
	padding-right: 0.8em;
	padding-left: 0.8em;
	margin-top:0.3em;
}


.activations{
	border: 2px solid $alt-bg;
	padding: 2em;
	margin-top: 0em;
	margin-bottom: 2em;
	background-color: $alt-bg;
}



.btn-interaction{
	text-transform: none;
	background-color: transparent;
	color: $green;
	border: 2px solid transparent;
	padding-right: 0;
	margin-bottom: 0px;
	padding-top:9px;
	padding-bottom:7px;


	&:hover {background-color:white; color: $green; border: none; margin: 2px};
	}

	span{

		em{
			text-transform: none;
			font-style: normal;
			padding: 12px 15px;
			border: none;
			border-radius: 4px;
			background-color: $green;
			color: white;
			margin-left: 10px;
		}
}

.btn-social{
	text-transform: none;
	vertical-align: bottom;
	background-color: transparent;
	color: $green-dark;
	padding: 0;
			margin-bottom: 10px;

	img{
		width: 26px;
		height: 26px;
	}

	em{
		text-transform: none;
		font-style: normal;
		padding: 12px 10px;
		border: 2px solid $alt-bg;
		border-radius: 4px;
		background-color: $alt-bg;;
		color: $green;
		margin-left: 0px;


		&:hover {background-color:$light-grey; border-color: $light-grey;};
	}
}

.disabled {
	color: $grey;
  text-transform:capitalize !important;
}

.capitalize {
  text-transform: capitalize !important;
}


.material-icons {
	line-height: 30px;
}

/* MATERIAL ICONS */
/* KEEPING ROUNDED ICONS STYLE */

.interact {
	.material-icons {
	  font-family: 'Material Icons';
	  color: $green;
	  border: 2px solid $green;
	  padding: 8px;
	  margin: 6px;
	  font-weight: normal;
	  font-style: normal;
	  font-size: 24px;  /* Preferred icon size */
	  display: inline-block;
	  line-height: 1;
	  text-transform: none;
	  letter-spacing: normal;
	  word-wrap: normal;
	  white-space: nowrap;
	  direction: ltr;
	  &:hover {color:white; background-color: $green;
	}

	  /* Support for all WebKit browsers. */
		-webkit-font-smoothing: antialiased;
	  /* Support for Safari and Chrome. */
	 	text-rendering: optimizeLegibility;

	  /* Support for Firefox. */
	  	-moz-osx-font-smoothing: grayscale;

	  /* Support for IE. */
	  	font-feature-settings: 'liga';
}
}
