{{filter-bar name=model.title}}
<main role="main">
  <div class="container  head">
    <div class="row">
      <div class="col-md-6">
        <h1>{{ model.title }}</h1>
        <div class="disabled">
          <p>{{ model.description }}
          </p>
        </div>
        <div class="status">
          <ul class="list-inline">
            <li>
              <p><span><i class="material-icons">loop</i></span>Project Status:<em>In Progress</em></p>
            </li>
            <li>
              <p><span><i class="material-icons">event</i></span>Last Update:<em>June 28th 2016</em></p>
            </li>
          </ul>
          <ul class="list-inline">
            <li>
              <p><span><i class="material-icons">room</i></span><em><a href="index.html">Fablab BCN</a>, <a href="index.html">Fablab NY</a></em></p>
            </li>
          </ul>
          <ul class="list-inline">
            <li>
              <p><span><i class="material-icons">local_offer</i></span><em><a class="btn btn-tag" href="index.html">Tag1</a><a class="btn btn-tag" href="index.html">Tag2</a><a class="btn btn-tag" href="index.html">Tag3</a></em></p>
            </li>
          </ul>
          <ul class="list-inline">
            <li>
              <p><span><i class="material-icons">attach_file</i></span><em><a href="index.html"><img src="img/github.png">Github</a>, <a href="index.html"><img src="img/googledrive.png">Google Drive</a>, <a href="google.com">http://anotherlink.com</a></em></p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <span class="pull-right">
          <div class="activations">
            <ul class="list-inline">
              <li class="active">
                <button type="button" class="btn btn-interaction">Like it<em><span><i class="interact material-icons">favorite</i></span>12</em></button>
             </li>
              <li>
                <button type="button" class="btn btn-interaction">Built it<em><span><i class="interact material-icons">build</i></span>12</em></button>
             </li>
              <li>
                <button type="button" class="btn btn-interaction">Remade it<em><span><i class="interact material-icons">call_split</i></span>12</em></button>
             </li>
            </ul>
          </div>
          <ul class="list-unstyled ">
            <li>
              <button type="button" class="btn btn-action"><span><i class="material-icons">comment</i></span>Join the Community</button>
            </li>
          </ul>
          <ul class="list-inline pull-right">
            <h6>Share this project:</h6>
            <li>
              <button type="button" class="btn btn-social"><em><span><img src="img/twitter.png"></span>12</em></button>
            </li>
            <li>
              <button type="button" class="btn btn-social"><em><span><img src="img/fb.png"></span>12</em></button>
             </li>
            <li>
              <button type="button" class="btn btn-social"><em><span><img src="img/g.png"></span>12</em></button>
           </li>
          </ul>
        </span>
      </div>
    </div>
    <hr>
    <article class="info">
      <div class="row">
        <div class="col-md-7">
          <h3>About</h3>
          <div class="description">
            <p>{{ model.scope }}</p>
          </div>
        </div>
        <div class="col-md-5 info">
          <span class="pull-right">
            <ul class="list-inline">
              <li>
                <button type="button" class="special" href="#steps"><h1>3</h1><p>Steps</p>
                </button>
              </li>
              <li>
                <button type="button" class="special" href="#users"><h1>178</h1><p>Users</p>
                </button>
              </li>
              <li>
                <button type="button" class="special" href="#machines"><h1>21</h1><p>Events</p>
                </button>
              </li>
            </ul>
          </span>
        </div>
      </div>
    </article>
  </div>
</main>
<article class="gallery">
  <div class="col-lg-3">
    <div class="hovereffect">
      <img class="img-responsive" src="img/pic3.jpg" alt="">
      <div class="overlay">
        <a class="info" href="#"><i class="material-icons">camera</i>View Lab Photos</a>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="hovereffect">
      <img class="img-responsive" src="img/pic3.jpg" alt="">
      <div class="overlay">
        <a class="info" href="#"><i class="material-icons">camera</i>View Lab Photos</a>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="hovereffect">
      <img class="img-responsive" src="img/pic3.jpg" alt="">
      <div class="overlay">
        <a class="info" href="#"><i class="material-icons">camera</i>View Lab Photos</a>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="hovereffect">
      <img class="img-responsive" src="img/pic3.jpg" alt="">
      <div class="overlay">
        <a class="info" href="#"><i class="material-icons">camera</i>View Lab Photos</a>
      </div>
    </div>
  </div>
</article>
<section id="steps">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Steps</h2>
      </div>
    </div>
    <hr>
    <div class="step">
      <div class="row">
        <div class="col-md-7">
          <h3>Step 1</h3>
          <p>Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus, cum eros quis aliquam wisi. Nulla wisi laoreet suspendisse integer vivamus elit eu mauris hendrerit facilisi, mi mattis pariatur aliquam pharetra eget.</p>
          <div class="status">
            <ul class="list-inline">
              <li>
                <p><span><i class="material-icons">attach_file</i></span><em><a href="index.html"><img src="img/github.png">Github</a>, <a href="index.html"><img src="img/googledrive.png">Google Drive</a>, <a href="google.com">http://anotherlink.com</a></em></p>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-5">
          <img clas="img-thumbnail" href="#" src="img/pic2.jpg" />
        </div>
      </div>
      <hr>
    </div>
    <div class="step">
      <div class="row">
        <div class="col-md-7">
          <h3>Step 2</h3>
          <p>Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus, cum eros quis aliquam wisi. Nulla wisi laoreet suspendisse integer vivamus elit eu mauris hendrerit facilisi, mi mattis pariatur aliquam pharetra eget.</p>
          <div class="status">
            <ul class="list-inline">
              <li>
                <p><span><i class="material-icons">attach_file</i></span><em><a href="index.html"><img src="img/github.png">Github</a>, <a href="index.html"><img src="img/googledrive.png">Google Drive</a>, <a href="google.com">http://anotherlink.com</a></em></p>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-5">
          <img clas="img-thumbnail" href="#" src="img/pic2.jpg" />
        </div>
      </div>
      <hr>
    </div>
    <div class="step">
      <div class="row">
        <div class="col-md-7">
          <h3>Step 3</h3>
          <p>Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus, cum eros quis aliquam wisi. Nulla wisi laoreet suspendisse integer vivamus elit eu mauris hendrerit facilisi, mi mattis pariatur aliquam pharetra eget.</p>
          <div class="status">
            <ul class="list-inline">
              <li>
                <p><span><i class="material-icons">attach_file</i></span><em><a href="index.html"><img src="img/github.png">Github</a>, <a href="index.html"><img src="img/googledrive.png">Google Drive</a>, <a href="google.com">http://anotherlink.com</a></em></p>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-5">
          <img clas="img-thumbnail" href="#" src="img/pic2.jpg" />
        </div>
      </div>
      <hr>
    </div>
  </div>
</section>
<section id="users">
  <div class="container">
    <div class="row">
      <div class="col-sm-10">
        <h2><span>5 </span>Users</h2>
      </div>
      <div class="col-sm-2">
        <span class="pull-right">
          <p><a href="#projects"><!--View All Users--></a></p>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <button type="button" href="profile.html">
          <div class="profile">
            <img src="img/profile_pic.png" class="img-rounded worker" />
          </div>
          <div class="content">
            <h5>Tomas Diez</h5>
            <div class="disabled">Lab Director</div>
            <a href="#profile">View Profile</a>
          </div>
        </button>
      </div>
      <div class="col-sm-4">
        <button type="button" href="profile.html">
          <div class="profile">
            <img src="img/profile_pic.png" class="img-rounded student" />
          </div>
          <div class="content">
            <h5>Tomas Diez</h5>
            <div class="disabled">Lab Director</div>
              <a href="#profile">View Profile</a>
            </div>
        </button>
      </div>
      <div class="col-sm-4">
        <button type="button" href="profile.html">
          <div class="profile">
            <img src="img/profile_pic.png" class="img-rounded student"/>
          </div>
          <div class="content">
            <h5>Tomas Diez</h5>
            <div class="disabled">Lab Director</div>
            <a href="#profile">View Profile</a>
          </div>
        </button>
      </div>
      <div class="col-sm-4">
        <button type="button" href="profile.html">
          <div class="profile">
            <img src="img/profile_pic.png" class="img-rounded student" />
          </div>
          <div class="content">
            <h5>Tomas Diez</h5>
            <div class="disabled">Lab Director</div>
            <a href="#profile">View Profile</a>
          </div>
        </button>
      </div>
      <div class="col-sm-4">
        <button type="button" href="profile.html">
          <div class="profile">
            <img src="img/profile_pic.png" class="img-rounded worker" />
          </div>
          <div class="content">
            <h5>Tomas Diez</h5>
            <div class="disabled">Lab Director</div>
            <a href="#profile">View Profile</a>
          </div>
        </button>
      </div>
    </div>
    <hr>
  </div>
</section>
<section id="machines">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <h2><span>3 </span>Machines</h2>
      </div>
      <div class="col-md-2">
        <span class="pull-right">
          <p><a href="#projects"><!--View All Machines--></a></p>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <button type="button" class="machine" href="#machines">
          <a href="vinylcutter.html">Vinyl Cutter</a>
          <img class="img-thumbnail" src="img/fablabsio-image.jpg" />
          <p class="disabled">Roland</p>
          <p class="disabled">GX-21</p>
        </button>
      </div>
      <div class="col-sm-2">
        <button type="button" class="machine" href="#machines">
          <a href="vinylcutter.html">Vinyl Cutter</a>
          <img class="img-thumbnail" src="img/fablabsio-image.jpg" />
          <p class="disabled">Roland</p>
          <p class="disabled">GX-21</p>
        </button>
      </div>
      <div class="col-sm-2">
        <button type="button" class="machine" href="#machines">
          <a href="vinylcutter.html">Vinyl Cutter</a>
          <img class="img-thumbnail" src="img/fablabsio-image.jpg" />
          <p class="disabled">Roland</p>
          <p class="disabled">GX-21</p>
        </button>
      </div>
    </div>
    <hr>
  </div>
</section>
<section id="labs">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <h2><span>2 </span>Labs</h2>
      </div>
      <div class="col-md-2">
        <span class="pull-right">
          <p><a href="#projects"><!--View All Labs--></a></p>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <button type="button" href="index.html">
          <div class="profile">
            <img src="img/fablab_profile_pic.png" class="img-rounded" />
          </div>
          <div class="content">
            <h5>Fablab BCN</h5>
            <ul class="list-inline">
              <li>
                <p><a href="#build"><span><i class="material-icons">people</i></span>24</a></p>
              </li>
              <li>
                <p><a href="#people"><span><i class="material-icons">lightbulb_outline</i></span>5</a></p>
              </li>
              <li>
                <p><a href="#likes"><span><i class="material-icons">event_note</i></span>21</a></p>
              </li>
            </ul>
          </div>
        </button>
      </div>

    </div>
  </div>
</section>
